<div class="max-w-4xl mx-auto p-8">
  <app-header />
  <app-instructions />

  <div class="bg-gray-50 p-8 rounded-xl mb-8">
    <app-file-upload
      [inputNameLabel]="'Followers File'"
      [inputId]="'followers-file'"
      [fileNameLabel]="followersFileName()"
      [disabled]="isAnalysisTriggered()"
      (changeEvent)="onFollowersFileSelected($event)"
    />
    <app-file-upload
      [inputNameLabel]="'Following File'"
      [inputId]="'following-file'"
      [fileNameLabel]="followingFileName()"
      [disabled]="isAnalysisTriggered()"
      (changeEvent)="onFollowingFileSelected($event)"
    />

    <app-analysis-button
      [isAnalysisTriggered]="isAnalysisTriggered()"
      [canAnalyze]="canAnalyze()"
      [isLoading]="analysisResults.isLoading()"
      (startAnalysis)="onStartAnalysis()"
    />

    @if (analysisResults.error()) {
      <div class="mt-4 p-4 bg-red-50 text-red-700 rounded-lg">
        {{ analysisResults.error() }}
      </div>
    }
  </div>

  @if (analysisResults.value(); as result) {
    <app-analysis-results [result]="result" (resetAnalysis)="reset()" />
  }
</div>
